body {
  font-family: Arial;
  color: black;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  overflow: auto;
}

.centered {
  text-align: center;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.head {
  margin: 30px;
}

.switch {
  padding: 5px;
  width: 50%;
}

.message {
  margin: 5px;
}

.error {
  color: red;
}

.info {
  font-weight: bolder;
  color: green;
}

.button {
  margin: 5px;
  padding: 5px;
}
